absl-py==0.9.0
aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.9
alabaster==0.7.12
albumentations @ git+https://github.com/albu/albumentations@1f4fa59389f07a692a3934ba5c2c7d3c4e89e9f6
allennlp==1.0.0rc3
allennlp-models==1.0.0rc3
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
astropy==3.2.1
astroquery==0.3.9
async-timeout==3.0.1
atari-py==0.2.6
atomicwrites==1.3.0
attrs==19.1.0
audioread==2.1.8
autograd==1.3
Automat==0.7.0
aws-sam-translator==1.26.0
aws-xray-sdk==2.6.0
Babel==2.7.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.6
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
blaze==0.11.3
bleach==3.1.0
blis==0.2.4
bokeh==1.3.4
boto==2.49.0
boto3==1.12.41
botocore==1.15.41
Bottleneck==1.2.1
bs4==0.0.1
CacheControl==0.12.5
cachetools==3.1.0
cchardet==2.1.6
celerite==0.3.1
certifi==2019.9.11
cffi==1.12.3
cfn-lint==0.35.0
chainer==5.4.0
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
clyent==1.2.2
colorama==0.4.1
conda==4.7.12
conda-build==3.18.9
conda-package-handling==1.3.11
conllu==2.3.2
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.13
cytoolz==0.10.0
dask==2.3.0
datashape==0.5.4
decorator==4.4.0
defusedxml==0.6.0
Deprecated==1.2.12
-e git+https://github.com/facebookresearch/detectron2.git@83c96d95858b38c3b25491da338cd418b9bd642c#egg=detectron2
dill==0.3.3
distributed==2.3.2
docker==4.3.1
docopt==0.6.2
docutils==0.14
ecdsa==0.15
editdistance==0.5.3
edx-dl==0.1.13
einops==0.3.0
elasticsearch==7.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
entrypoints==0.3
enum-compat==0.0.3
et-xmlfile==1.0.1
exif==1.0.0
faiss==1.5.3
fake-useragent==0.1.11
fastcache==1.1.0
fasteners==0.15
featuretools==0.9.1
ffmpeg-python==0.2.0
filelock==3.0.12
firebase==3.0.1
firebase-admin==2.16.0
flaky==3.6.1
Flask==1.1.1
Flask-Cors==3.0.8
Flask-OAuth==0.13
Flask-WTF==0.14.3
fsspec==0.4.0
ftfy==5.7
funcy==1.14
future==0.17.1
fvcore==0.1.dev200417
gast==0.2.2
gcloud==0.18.3
gensim==3.8.1
geographiclib==1.50
geopy==1.22.0
gevent==1.4.0
glfw==1.11.1
glob2==0.7
gmpy2==2.0.8
google-api-core==1.11.0
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==1.0.0
google-cloud-firestore==0.32.0
google-cloud-logging==1.11.0
google-cloud-storage==1.14.0
google-pasta==0.1.8
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
googledrivedownloader==0.4
googletrans==2.4.0
googletransx==2.4.2
GPy==1.9.9
GPyOpt==1.2.6
greenlet==0.4.15
grip==4.5.2
grpcio==1.24.3
gunicorn==20.0.4
gym==0.17.1
h2o==3.24.0.5
h5py==2.8.0
heapdict==1.0.0
hotelling==0.4.3
html5lib==1.0.1
httplib2==0.12.1
hyperlink==19.0.0
idna==2.8
imageio==2.5.0
imagesize==1.1.0
imantics==0.1.12
imgaug==0.4.0
imgviz==0.12.2
importlib-metadata==1.6.0
incremental==17.5.0
inflect==5.3.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipython-sql==0.3.9
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsondiff==1.1.2
jsonnet==0.16.0
jsonpatch==1.26
jsonpickle==1.4.1
jsonpointer==2.0
jsonschema==3.0.2
junit-xml==1.9
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.0.2
jupyterlab-launcher==0.13.1
jupyterlab-server==1.0.0
jwcrypto==0.6.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyboard==0.13.5
keyring==18.0.0
Kivy==1.10.1
Kivy-Garden==0.1.4
kiwisolver==1.1.0
labelme==4.5.6
lapsolver==1.1.0
lazy-object-proxy==1.4.2
lda==1.1.0
liac-arff==2.5.0
libarchive-c==2.8
librosa==0.7.1
lief==0.9.0
lightkurve==1.1.1
llvmlite==0.29.0
locket==0.2.0
lockfile==0.12.2
lxml==4.4.1
macholib==1.14
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.2.2
matplotlib-venn==0.11.5
mccabe==0.6.1
memedict==1.0.3
metric-learn==0.5.0
mido==1.2.9
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
monotonic==1.5
more-itertools==7.2.0
moto==1.3.14
mpctools==0.5.0
mpi4py==3.0.3
mpmath==1.1.0
msgpack==0.6.1
mujoco-py==2.0.2.10
multidict==4.7.6
multipledispatch==0.6.0
multiprocess==0.70.11.1
murmurhash==1.0.2
music21==6.1.0
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
neo4jrestclient==2.1.1
networkx==2.5
nlpaug==0.0.14
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.17.2
numpydoc==0.9.1
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==3.0.1
odo==0.5.1
oktopus==0.1.2
olefile==0.46
opencv-contrib-python==3.4.2.16
opencv-python==4.2.0.34
openml==0.10.2
openpyxl==2.6.2
opt-einsum==3.1.0
overrides==2.8.0
packaging==20.3
pandas==0.25.1
pandocfilters==1.4.2
paramz==0.9.5
parse==1.12.0
parsimonious==0.8.1
parso==0.5.1
partd==1.0.0
path-and-address==2.0.1
path.py==12.0.1
pathlib2==2.3.4
pathos==0.2.7
patsy==0.5.1
pbr==3.1.1
pep8==1.7.1
pexpect==4.7.0
piazza-api==0.11.0
pickleshare==0.7.5
Pillow==6.1.0
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.12.0
plum-py==0.3.1
ply==3.11
plyfile==0.7.2
portalocker==1.7.0
pox==0.2.9
ppft==1.6.6.3
praat-parselmouth==0.3.3
praw==6.1.1
prawcore==1.0.1
preshed==2.0.1
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.11.3
protobuf3-to-dict==0.1.5
psutil==5.6.3
ptan==0.6
ptyprocess==0.6.0
py==1.8.0
py-rouge==1.1
py4j==0.10.9
pyasn1==0.4.6
pyasn1-modules==0.2.6
pybind11==2.2.4
pycares==3.1.1
pycocotools==2.0.2
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydot==1.4.1
pyee==6.0.0
pyenchant==2.0.0
pyflakes==2.1.1
pygame==1.9.4
pyglet==1.5.0
Pygments==2.4.2
PyHamcrest==1.9.0
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.9
pyitlib==0.2.2
pyLDAvis==2.1.2
pylint==2.3.1
PyLMNN==1.6.4
PyMySQL==0.9.3
pyobjc==6.2.2
pyobjc-core==6.2.2
pyobjc-framework-Accounts==6.2.2
pyobjc-framework-AddressBook==6.2.2
pyobjc-framework-AdSupport==6.2.2
pyobjc-framework-AppleScriptKit==6.2.2
pyobjc-framework-AppleScriptObjC==6.2.2
pyobjc-framework-ApplicationServices==6.2.2
pyobjc-framework-AuthenticationServices==6.2.2
pyobjc-framework-AutomaticAssessmentConfiguration==6.2.2
pyobjc-framework-Automator==6.2.2
pyobjc-framework-AVFoundation==6.2.2
pyobjc-framework-AVKit==6.2.2
pyobjc-framework-BusinessChat==6.2.2
pyobjc-framework-CalendarStore==6.2.2
pyobjc-framework-CFNetwork==6.2.2
pyobjc-framework-CloudKit==6.2.2
pyobjc-framework-Cocoa==6.2.2
pyobjc-framework-Collaboration==6.2.2
pyobjc-framework-ColorSync==6.2.2
pyobjc-framework-Contacts==6.2.2
pyobjc-framework-ContactsUI==6.2.2
pyobjc-framework-CoreAudio==6.2.2
pyobjc-framework-CoreAudioKit==6.2.2
pyobjc-framework-CoreBluetooth==6.2.2
pyobjc-framework-CoreData==6.2.2
pyobjc-framework-CoreHaptics==6.2.2
pyobjc-framework-CoreLocation==6.2.2
pyobjc-framework-CoreMedia==6.2.2
pyobjc-framework-CoreMediaIO==6.2.2
pyobjc-framework-CoreML==6.2.2
pyobjc-framework-CoreMotion==6.2.2
pyobjc-framework-CoreServices==6.2.2
pyobjc-framework-CoreSpotlight==6.2.2
pyobjc-framework-CoreText==6.2.2
pyobjc-framework-CoreWLAN==6.2.2
pyobjc-framework-CryptoTokenKit==6.2.2
pyobjc-framework-DeviceCheck==6.2.2
pyobjc-framework-DictionaryServices==6.2.2
pyobjc-framework-DiscRecording==6.2.2
pyobjc-framework-DiscRecordingUI==6.2.2
pyobjc-framework-DiskArbitration==6.2.2
pyobjc-framework-DVDPlayback==6.2.2
pyobjc-framework-EventKit==6.2.2
pyobjc-framework-ExceptionHandling==6.2.2
pyobjc-framework-ExecutionPolicy==6.2.2
pyobjc-framework-ExternalAccessory==6.2.2
pyobjc-framework-FileProvider==6.2.2
pyobjc-framework-FileProviderUI==6.2.2
pyobjc-framework-FinderSync==6.2.2
pyobjc-framework-FSEvents==6.2.2
pyobjc-framework-GameCenter==6.2.2
pyobjc-framework-GameController==6.2.2
pyobjc-framework-GameKit==6.2.2
pyobjc-framework-GameplayKit==6.2.2
pyobjc-framework-ImageCaptureCore==6.2.2
pyobjc-framework-IMServicePlugIn==6.2.2
pyobjc-framework-InputMethodKit==6.2.2
pyobjc-framework-InstallerPlugins==6.2.2
pyobjc-framework-InstantMessage==6.2.2
pyobjc-framework-Intents==6.2.2
pyobjc-framework-IOSurface==6.2.2
pyobjc-framework-iTunesLibrary==6.2.2
pyobjc-framework-LatentSemanticMapping==6.2.2
pyobjc-framework-LaunchServices==6.2.2
pyobjc-framework-libdispatch==6.2.2
pyobjc-framework-LinkPresentation==6.2.2
pyobjc-framework-LocalAuthentication==6.2.2
pyobjc-framework-MapKit==6.2.2
pyobjc-framework-MediaAccessibility==6.2.2
pyobjc-framework-MediaLibrary==6.2.2
pyobjc-framework-MediaPlayer==6.2.2
pyobjc-framework-MediaToolbox==6.2.2
pyobjc-framework-Metal==6.2.2
pyobjc-framework-MetalKit==6.2.2
pyobjc-framework-ModelIO==6.2.2
pyobjc-framework-MultipeerConnectivity==6.2.2
pyobjc-framework-NaturalLanguage==6.2.2
pyobjc-framework-NetFS==6.2.2
pyobjc-framework-Network==6.2.2
pyobjc-framework-NetworkExtension==6.2.2
pyobjc-framework-NotificationCenter==6.2.2
pyobjc-framework-OpenDirectory==6.2.2
pyobjc-framework-OSAKit==6.2.2
pyobjc-framework-OSLog==6.2.2
pyobjc-framework-PencilKit==6.2.2
pyobjc-framework-Photos==6.2.2
pyobjc-framework-PhotosUI==6.2.2
pyobjc-framework-PreferencePanes==6.2.2
pyobjc-framework-PushKit==6.2.2
pyobjc-framework-Quartz==6.2.2
pyobjc-framework-QuickLookThumbnailing==6.2.2
pyobjc-framework-SafariServices==6.2.2
pyobjc-framework-SceneKit==6.2.2
pyobjc-framework-ScreenSaver==6.2.2
pyobjc-framework-ScriptingBridge==6.2.2
pyobjc-framework-SearchKit==6.2.2
pyobjc-framework-Security==6.2.2
pyobjc-framework-SecurityFoundation==6.2.2
pyobjc-framework-SecurityInterface==6.2.2
pyobjc-framework-ServiceManagement==6.2.2
pyobjc-framework-Social==6.2.2
pyobjc-framework-SoundAnalysis==6.2.2
pyobjc-framework-Speech==6.2.2
pyobjc-framework-SpriteKit==6.2.2
pyobjc-framework-StoreKit==6.2.2
pyobjc-framework-SyncServices==6.2.2
pyobjc-framework-SystemConfiguration==6.2.2
pyobjc-framework-SystemExtensions==6.2.2
pyobjc-framework-UserNotifications==6.2.2
pyobjc-framework-VideoSubscriberAccount==6.2.2
pyobjc-framework-VideoToolbox==6.2.2
pyobjc-framework-Vision==6.2.2
pyobjc-framework-WebKit==6.2.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyppeteer==0.0.25
pyprg==0.1.1b7
PyQt5==5.14.2
PyQt5-sip==12.7.2
pyquery==1.4.0
pyrsistent==0.14.11
PyRSS2Gen==1.1
PySocks==1.7.0
pyspark==3.1.1
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.2
python-dateutil==2.8.0
python-freshdesk==1.2.3
python-jose==3.2.0
python-jwt==3.2.4
python-louvain==0.13
python-speech-features==0.6
python-twitter==3.5
pytorch-ignite==0.3.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.1.0
pytz==2019.2
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==18.1.0
QtAwesome==0.5.7
qtconsole==4.5.5
QtPy==1.9.0
rdflib==4.2.2
redis==3.3.11
regex==2019.6.8
reportlab==3.5.18
requests==2.22.0
requests-html==0.10.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
resampy==0.2.2
responses==0.10.14
rl-algs==0.0.0
rope==0.14.0
rsa==3.4.2
ruamel-yaml==0.15.46
s3transfer==0.3.3
sacremoses==0.0.43
sagemaker==1.55.4
schedule==0.6.0
scikit-image==0.18.1
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.9.0
semantic-version==2.8.5
Send2Trash==1.5.0
sentencepiece==0.1.82
service-identity==18.1.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
sly==0.4
smart-open==1.8.4
smdebug-rulesconfig==0.1.2
snowballstemmer==1.9.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
SoundFile==0.10.2
soupsieve==1.9.2
spacy==2.1.9
Sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.6
spyder-kernels==0.5.1
SQLAlchemy==1.3.7
sqlparse==0.3.0
srsly==1.0.2
sseclient==0.0.23
sshpubkeys==3.1.0
statsmodels==0.10.1
sympy==1.4
tables==3.4.4
tabulate==0.8.3
tb-nightly==1.14.0a20190603
tblib==1.4.0
tdw==1.7.3.0
tensorboard==1.15.0
tensorboardX==2.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
TexSoup==0.2.1
tf-estimator-nightly==1.14.0.dev2019060501
thinc==7.0.8
tifffile==2021.1.14
timm==0.3.4
tokenizers==0.7.0
tomotopy==0.11.1
toolz==0.10.0
torch==1.5.0
torch-geometric==1.4.3
torch-model-archiver==0.1.0b20200409
torch-scatter==2.0.4
torch-sparse==0.6.1
torchserve==0.0.1b20200409
torchsummary==1.5.1
torchtext==0.6.0
torchvision==0.5.0
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.3
transformers==2.11.0
tweepy==3.7.0
twint==2.1.20
Twisted==19.2.0
twitter-scraper==0.3.0
twython==3.7.0
uncertainties==3.1.2
unicodecsv==0.14.1
Unidecode==1.1.1
update-checker==0.16
uritemplate==3.0.0
urljoin==1.0.0
urllib3==1.24.2
vaderSentiment==3.2.1
w3lib==1.20.0
wasabi==0.6.0
wcwidth==0.1.7
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.54.0
websockets==7.0
weighted-collection==1
Werkzeug==0.15.5
widgetsnbextension==3.5.1
wikipedia==1.4.0
word2number==1.1
wrapt==1.11.2
WTForms==2.3.1
wurlitzer==1.0.3
xgboost==1.2.0
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.8
xlwt==1.3.0
xmljson==0.2.0
xmltodict==0.12.0
yacs==0.1.6
yahoo-finance==1.4.0
yarl==1.4.2
yelpapi==2.4.0
youtube-dl==2020.7.28
youtube-transcript-api==0.1.1
zict==1.0.0
zipp==0.5.2
zope.interface==4.6.0
